<header *ngIf="router.url != '/login'">
  <nav mat-tab-nav-bar>
    <mat-toolbar color="primary">
        <img draggable="false" id="logo" src="assets/img/logo.png">
        <span>Toy Store</span>
        <a mat-button routerLink="/products" >Products</a>
        <a mat-button routerLink="/categories">Categories</a>
        <div>
            <a mat-button routerLink="/products" (click)="onClickLogout()">Logout</a>
        </div>
    </mat-toolbar>
  </nav>
</header>
<div class="container fluid">
  <div style="padding-top: 100px">
    <router-outlet></router-outlet>     
  </div>
</div>