<h1 style="margin-bottom: 50px; text-align: center;">Products</h1>                
<div style="margin-bottom: 10px">
  <button mat-raised-button color="primary" 
    (click)="onClickAdd()">Add New Product</button>
</div>
<mat-grid-list cols="3" rowHeight="250px" gutterSize="5px"
  style="margin-bottom: 50px">
  <mat-grid-tile *ngFor="let product of products">
    <mat-card class="_tile">
      <mat-card-header>
        <mat-card-title style="color: #3f51b5;">{{product.name}}</mat-card-title>
        <mat-card-subtitle>
          by <span>{{product.vendor}}</span> -
          in <a href=#>{{product.category.name}}</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p style="font-size: 15px;">
          {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="stick-bottom">
          <button mat-button class="_control" (click)="onClickEdit(product)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button color="warn" class="_control" (click)="onClickDelete(product.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>
          <span class="price-tag kick-right">{{product.price}} EGP</span>
        </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>